<!DOCTYPE html>
<html>
<head>
  <title>Découverto - Boutique | Administration</title>
  <link rel="stylesheet" href="/stylesheets/admin-styles.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<a href="./admin/logout" class="logout"><i class="icon-power"></i> Se déconnecter</a>
  <h1>Découverto - Boutique</h1>

  <div ng-app="Decouverto">
    <div autoscroll="true" ng-view>
      <noscript>
        <h2>Houston, we have a problem.</h2>
        <p>Vous devez activer l'éxecution du Javascript pour utiliser ce site internet.</p>
      </noscript>
    </div>
  </div>
  <script type="text/javascript" src="./javascripts/admin/build.js"></script>
</body>

</html>